.container {
  background-color: pink;
  padding: 10px;
}
.pagination {
  display: flex;
}
.backButton {
  margin: 0 auto 0 10px;
}
.forwardButton {
  margin: 0 10px 0 auto;
}
ul {
  list-style-type: none;
  padding: 0 10px;
}
.lettersContainer {
  display: flex;
}
.nameContainer {
  display: flex;
  border: 1px solid blue;
  width: 150px;
}