.container {
  display: flex;

  height: 100vh;

  @media (max-width: 800px) {
    flex-direction: column;
    height: 100%;
  }

  .smallContainer {
    width: 50%;
    height: 100%;

    overflow: scroll;

    @media (max-width: 800px) {
      width: 100%;
      position: relative;
      overflow: visible;
    }

    .sectionTitle {
      position: fixed;
      width: 50%;
      margin-bottom: 100px;
      background-color:white;
      z-index: 10;

      @media (max-width: 800px) {
        width: 100%;
        position:relative;
        margin: 0;
        z-index: unset;
        padding: 10px;
      }
    }
    .sectionContent {
      position: relative;
      top: 80px;

      @media (max-width: 800px) {
        top: 10px;
      }

    }
  }
  
  .loadingMessage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
  }
}


