.container {
  display: flex;
  background-color: lightblue;

  height: 100vh;
}
.smallContainer {
  width: 50%;
  border: 1px solid blue;
  margin-top: 50px;
}

.loadingMessage, .noDataMessage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}