.container {
  display: flex;

  height: 100vh;

  .smallContainer {
    width: 50%;
    height: 100%;

    overflow: scroll;

    .sectionTitle {
      position: fixed;
      width: 50%;
      margin-bottom: 100px;
      background-color:white;
      z-index: 10;
    }
    .sectionContent {
      position: relative;
      top: 80px;

    }
  }
  
  .loadingMessage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
  }
}
